---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";
const identity = {
	firstName: "Anthony",
	lastName: "Ongaro",
	occupation: "Software Engineer",
	hobbies: ["Cacti Cultivation", "Rope Flow", "Music Production"]
};
const skills = ["Vim", "HTML", "CSS", "Ruby", "Rails", "PostgreSQL", "Heroku/Netlify", "REST API's"];
const learning = ["JavaScript", "TypeScript", "Python"];
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    I'm {identity.firstName}, a {identity.occupation} with a background in creative entrepreneurship, writing, and marketing.
    Currently studying back-end software engineering at Turing School of Software & Design's ACCET-accredited program.
  </p>
  <p>
    <ul>
      <li>I've spent the last 7 years making <a href="https://www.youtube.com/@aongaro">videos</a> and building on the <a href="https://www.breakthetwitch.com/">web</a></li>
      <li>I'm reading about philosophy, habits, coding, and cacti cultivation</li>
      <li>Tell me your favorite vim motions, project ideas, and anything you're passionate about</li>
    </ul>
  </p>
  <div id="cards">
    <div id="card">
      <h3>Current Skills</h3>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
    </div>
    <div id="card">
      <h3>Learning</h3>
      <ul>
        {learning.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
    </div>
    <div id="card">
      <h3>Hobbies</h3>
      <ul>
        {identity.hobbies.map((hobby) => <li class="skill">{hobby}</li>)}
      </ul>
    </div>
  </div>
</BaseLayout>